<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remote.universalirremote">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.IRTest"></activity>
        <activity android:name=".ui.GenRemoteConfigure" />
        <activity android:name=".ui.GenRemoteTransmit" />
        <activity android:name=".ui.TvRemoteConfigure" />
        <activity android:name=".ui.TvRemoteTransmit" />
        <activity android:name=".ui.AcRemote" />
        <activity android:name=".ui.NewDevice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remote.universalirremote.ui.DeviceSelect" />
        </activity>
        <activity android:name=".ui.DeviceSelect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remote.universalirremote.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>